<?xml version="1.0"?>
<config>
    <modules>
        <Tierko_Canonical>
            <version>1.0.0</version>
        </Tierko_Canonical>
    </modules>
    <global>
        <models>
            <tierko_canonical>
                <class>Tierko_Canonical_Model</class>
                <resourceModel>tierko_canonical_resource</resourceModel>
            </tierko_canonical>
        </models>
        <helpers>
            <tierko_canonical>
                <class>Tierko_Canonical_Helper</class>
            </tierko_canonical>
        </helpers>
    </global>
    <frontend>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <tierko_canonical>
                        <type>singleton</type>
                        <class>Tierko_Canonical_Model_Observer</class>
                        <method>addCanonicalRel</method>
                    </tierko_canonical>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </frontend>
    <default>
        <tierko_canonical>
            <canonical_settings>
                <https>1</https>
                <params>p</params>
            </canonical_settings>
        </tierko_canonical>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tierko_canonical>
                                            <title>Tierko Canonical</title>
                                        </tierko_canonical>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>